extends layout

block content
  p UMS is completely self funded to date.
  p If you are excited by the potential UMS offers and would like to supoort our cause, please email info@urbanmobilesensors.coom to get in touch
  p We plan on launching a kickstarter campaign late 2015 or early 2016, so please check back here periodically for updates!
