extends layout

block content
  p Data privacy is very important, and we do not track individual sensors but rather use the data in aggregate to produce useful insights.
  p Here is more info on our company structure...
